<a routerLink='/movieWindow/{{currentMovie._id}}'>
<div (click)='movieChosen()' ngbTooltip='{{currentMovie.shortDescription}}' placement="right">
    <div class="inner">
  <div class="row">
    <div class="col-lg-12">
      <img class="movie-img" src='{{currentMovie.imgUrl}}' alt="">
      <a *ngIf='isMyMovies' href="#" (click)='removeMovie(this.movie)'>remove</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 title">
      <h2 class="inline">{{currentMovie.title}}</h2>
      <p class="inline">, {{currentMovie.year}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>{{currentMovie.shortDescription}}</p>
    </div>
  </div>
</div>
</div>
</a>